body {
background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
background-position: center;
color: black;
font-size: 20px;
font-family: Arial;
}

.hide {
    visibility: hidden;
}

h1 {
 text-align: center;
 font-size: 30px;
 color: #004369;
 font-family: Luminari;

}

h2 {
 font-size: 30px;
 color: #004369;
 font-family: Arial;
 text-align: center;
 }

.header-text a {
text-decoration:none;
font-size:20px;
text-indent:15px;
color: #004369;
padding:10px;
}

h3 {
font-size: 10px;
color: #0E2A36;
font-family: Arial;
text-align: center;
}

h4 {
 font-size: 15px;
 color: #0E2A36;
 font-family: Arial;
 text-align: center;
}

h6 {
font-size: 25px;
 color: #004369;
 font-family: Arial;
 text-align: center;
}

p {
 font-size: 15px;
 color: white;
 font-family: Arial;
 text-align: center;
}

.header1 {
 height: 200px;
 color: #004369;
}


.header-text {
  text-align: center;
  font:Luminari;
  color: #004369;
  padding-bottom: 25px;
}
.headline {
 position:relative;
 color: #004369;;
 font-size:100px;
 font:Luminari;
 }

.logotyp{
    position:absolute;
    height:100px;
    width:100px;
    border-radius:50%;
    left:350px;
    top:15px;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.presentation {
background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
padding: 15px;
}
.presentation p {
color: #004369;
font-size: 20px;
}


.orgh2{
color: #004369;
font-family: Arial;
font-size: xxx-large;
}

.orgh3{
color: #004369;
font-family: Arial;
font-size: x-large;
}

.bottomtext{
    display: flex;
    padding: 5px;
    margin: 15px;
}

.text31{
padding-right: 30px;
}

.link3{
color: #004369;
}


.sumPres {
color: #004369;
font-size: 20px;
background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
padding: 5px;
 border-color: #004369;
}

.totalSum {
font-size: clamp(3rem, 10vw, 20rem);
background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
color: #004369;
font-family: Luminari;
text-align: center;
border: solid 5px;
padding: 5px;
text-decoration-line: underline;
}

.dropdown1 h1 {
color: #004369;
text-align: center;
font-size: 35px;
}
.dropdown1 h2 {
color: #004369;
text-align: center;
font-size: 20px;
}

.dropdown1 {
background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
color: #004369;
font-family: Luminari;
text-align: center;
padding: 5px;
}
dropdown {
color: #004369;
font-size: 23px;
background-color:white ;
border-color: #004369;
font-family: Luminari;

}
.button3 {
font-size: 28px;
color: #004369;
background-color:white;
border-color: #004369;
font-family: Luminari;
}

.giftbox {
font-family: Luminari;
color: #004369;
font-size: 15px;

}
.giftBox h3{
font-size: 25px;
color: #004369;
font-family: Luminari;
}

.donationForm {
display: flex;
justify-content: center;
padding:
}

.donInfo {
font-family: Luminari;
font-size: 25px;
color: #004369;
margin: 15px;
}

.orgBox {
margin: 30px;
background: white;

}

.donText h4 {
font-size: 15px;
color: #004369;
}

.donateSumInput span {
font-family: Luminari;
font-size: 25px;
color: #004369;
}

.donateSum {
height:40px;
font-size:25px;
}

.donationCheck {
height: 15px;
width: 15px;
}

.donateButton {
height: 50px;
font-size: 25px;
}

.donateButtonActive {
border-color: #004369;
}

.donBox {
width: 40%;
margin: 15px;
padding: 20px;
background: mintcream;
border:5px solid #004369;
font-family: Luminari;
color: #004369;
}

.donateSumInput, .donateButtonDiv {
display: flex;
flex-direction: column;
justify-content: center;
}

.donateSumInput {
margin-bottom: 15px;
}

.donateButtonDiv {
margin-top: 15px;
}

.picture {
width: 350px;
height: 200px;
}

.myPage picture1 {
width: 5%;
height: 5%;
float: left;
width: 30%;
padding: 5px;
}

.bidrar row {
display: flex;
align-items: center;
}
.bidrar col {
align-items: center;
vertical-align: middle;
}

.organisationTop{
font-size: 60px;
 color:  #004369;
 font-family: Arial;
 text-align: center;
text-decoration-line: underline;


}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*a:link {
color:rgb(47, 16, 133);
background-color: #a7d2dd;}


a:visited {
color:rgb(47, 16, 133);
background-color: #a7d2dd;

}

a:hover {
color:rgb(47, 16, 133);
background-color: #a7d2dd;

}

a:active {
color:rgb(47, 16, 133);
background-color: #a7d2dd;
}*/

/* Footer */
footer {
background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
    padding: 25px;
    justify-content: center;
    text-align: center;
}

#footerbtn {
    /* Button for newsletter sign-up in the footer*/
  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   text-align: center;
}

/*
Color scheme:
    Blue: #3190B5
    Dark blue: #0E2A36      (e.g. navbar)
    Light blue: #D6E9F0     (e.g. background)
    Green: #257D5E          (e.g. logo)
    Yellow: #FFDD5C         (e.g. for alerts)
*/




/*Three image containers (use 25% for four, and 50% for two, etc)*/


/*Clear floats after image containers*/
.row {
  display:flex;
}
.column  {
  width: 25%;
  padding: 5px;
}


/***** Styling for all pages *****/
/*
body {
    background-color: #D6E9F0;
}

/* Header /*
.jumbotron {
    background-color: #D6E9F0;
    /* Remove the jumbotron's default bottom margin
    margin-bottom: 0;
}
/*
.jumbotron img {
    cursor: pointer;
}*/

/* Navbar */ /*
.navbar {
    background-color: #0E2A36;
    /* Remove the navbar's default rounded borders and increase the bottom margin */
   /*  margin-bottom: 50px;
    border-radius: 0;
}

#navbarlogo {
    width: 50px;
    cursor: pointer;
}
*/


/***** Styling for frontpage *****/

/* Product counter (cartsymbol)
.productcounter {
    color: #FFDD5C;
    position: absolute;
    top: -1;
}
 */
/* Carousel
#myCarousel {
    padding: 10px;
}

.carousel-inner .item img {
    height: 400px;
    margin: 0 auto;
    cursor: pointer;
}
 */
/* Product listing
.btn-primary {
    background-color: #257D5E;
    border-color: #257D5E;

}

.btn-primary:hover {
    background-color:  #0E2A36;
    color:  #fff;
}

.panel-primary {
    /* Background for panel
    border-color: #257D5E;
}

.panel-primary:hover {
    border-color:  #0E2A36;
}

.panel-primary>.panel-heading {
    background-color: #257D5E;
    cursor: pointer;
}

.panel-primary>.panel-heading:hover {
    background-color:  #0E2A36;
               color:  white;
}

.img {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.panel img:hover {
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport)
    transform: scale(1.2);
}

#productimg {
    /* Centers the product image and gives all product images the same height
    padding: 10px;
    margin: 0 auto;
    height: 250px;
    cursor: pointer;
}
*/


/***** Styling for product page *****/
/*
#buybtn{
    background-color: #3190B5;
}

#large-productimg {
    width:100%;
}


#treeimg{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/*** LOGIN **/
.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    left:500px;
}

.input1{
    padding: 6px;
    margin-bottom: 7px;
    border-radius: 2px;
    border: solid rgb(47, 16, 133);
}

.button1 {
    background-color: #d5e7f1;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: solid rgb(47, 16, 133);
    font-size: large;
    font-family: inherit;
}

/**** SAVE USER ***/

.text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #004369;
    font-size: larger;
    }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.input2 {
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: solid rgb(47, 16, 133);
}

.saveuserbody {
    background-color: aqua;
}

.button2{
    background-color: #d5e7f1;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: solid rgb(47, 16, 133);
    font-size: large;
    font-family: inherit;
}

.error2{
    margin: 2px;
    max-width: fit-content;
    font-size: small;
}

/*** MY PAGE ****/
.mypagetext{
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.statrubrik{
    margin-top: 40px;
}

.statistik{
    display: flex;
    justify-content: center;
    margin-bottom: 100px
}

.stattr{
    padding: 5px 20px;
}