<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AboutUs</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <div th:if="${session.userName} != null">
        <p th:text="'Inloggad som: ' + ${session.userName}"></p>
    </div>
</head>
<body>
<header>
    <header>
        <table>
            <thead>
            <th><a href="/organisations">Våra Organisationer</a></th>
            <th><a href="/donation">Donera</a></th>
            <th><a href="/signup">Bli Medlem</a></th>
            <th><a href="/">Om Oss</a></th>
            <th><a href="/myPage">Mina Sidor</a></th>
            <th><a href="/login">Login</a></th>
            </thead>
        </table>
    </header>

</header>

</body>
</html>