<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <p th:if="${#httpServletRequest.remoteUser}" th:text="${'Inloggad som: ' + #httpServletRequest.remoteUser}"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logga ut"/>
    </form>
</head>
<body>

<header>
    <table>
        <thead>
        <th><a href="/organisations">Våra Organisationer</a></th>
        <th><a href="/donation">Donera</a></th>
        <th><a href="/SignUp">Bli Medlem</a></th>
        <th><a href="/">Om Oss</a></th>
        <th><a href="/myPage">Mina Sidor</a></th>
        <th><a href="/login">Login</a></th>
        </thead>
    </table>
</header>

</body>
</html>