<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
</head>
<body>
<header>
    <div class="header1">
        <div class="header-text">
            <thead>
            <h1 style="font-size:80px">HELPIFY</h1>
            <th><a href="/">Startsida</a></th>
            <th><a href="/signup">Bli Medlem</a></th>
            <th><a href="/organisations">Våra organisationer</a></th>
            <th><a href="/donation">Donera</a></th>
            <thdiv class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="/myPage" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mina sidor</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/myPage">Mina sidor</a></li>
                    <li><a class="dropdown-item" href="/stats">Mina donationer</a></li>
                    <li><a class="dropdown-item" href="/Inställningar">Inställningar</a></li>
                </ul>
            </thdiv>
            <th><a href="/logout">Logga ut</a></th>
        </div>
    </div>
</header>
</br>
</br>
<form action="/login" method="post">
    <label for="username"> Användarnamn </label>
    <input type="text" id="username" name="username"/>
    <label for="password"> Lösenord</label>
    <input type="password" id="password" name="password"/>
    <input type="submit" value="Logga in" />
</form>



<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Helpify </a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>