<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Mina sidor </title>
    <!-- <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'"> -->
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <img class="logotyp" th:src="'images/HELPIFYy.png'" alt="FöretagsLogo">
    <div class="header1">
        <th><h1 class="headline">HelpIfy</h1></th>
        <div class="header-text">
            <thead>
            <th><a href="/helpify">Startsida </a></th>
            <th><a href="/signup">Bli Medlem </a></th>
            <th><a href="/organisations">Våra organisationer </a></th>
            <th><a href="/donation">Donera </a></th>
            <th><a href="/myPage">Mina sidor </a></th>
            <th th:if="${#httpServletRequest.remoteUser == null}"><a href="/login">Logga in</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><a href="/logout">Logga ut</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><p
                    th:text="${'Inloggad som: ' + #httpServletRequest.remoteUser}"></p></th>
            </thead>
        </div>
    </div>
</header>
<!--
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>

    </div>
    <ul class="nav-links">
        <li>
            <a href="localhost:8080/donation">
                <i class='bx bx-box'></i>
                <span class="links_name">Mina donationer</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='localhost:8080/edit'></i>
                <span class="links_name">Inställningar</span>
            </a>
        </li>
        <li class="localhost:8080/startpage">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Logga ut</span>
            </a>
        </li>
    </ul>
</div>

</script>
<h2> </h2>
-->
<div class="mypagetext">
<span> Vi vill ta en stund för att tacka just Dig </span>
<span th:text="${#httpServletRequest.remoteUser}"></span>
<span> för att du är medlem hos oss! För varje månad som du är medlem hos oss
    så bidrar du till att skapa en bättre och friskare värld för både människor som djur och natur.</span>
</div>

<div class="row">
    <div class="row justify-content-around">
        <div class="col" style="    display: flex;
    justify-content: center;">
            <img class="Vi bidrar" style="width:70%%" th:src="'images/MypageNew.png'"
                 alt="Bild på vad man kan bidra till" align="right"/>
        </div>
    </div>


    <h3 class="statrubrik">Dina donationer:</h3>
    <p th:if="${noDonation}" th:text="${'du har inga donationer registrerade'}"></p>

    <div class="statistik">
        <form th:if="${noDonation == null}">
            <table>
                <tbody>
                <tr class="stattr">
                    <th class="stattr">Organisation</th>
                    <th class="stattr">Summa</th>
                </tr>

                <tr th:each="donation : ${donations}">
                    <td class="stattr" th:text="${donation.organisation.name}"></td>
                    <td class="stattr" th:text="${donation.sum} + 'sek'"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                        <a href="#">Helpify </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>