<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spara användare</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <p th:text="'Inloggad som: ' + ${session.userName}"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</head>
<body>
<header>
    <table>
        <thead>
        <th><a href="/organisations">Våra Organisationer</a></th>
        <th><a href="/donation">Donera</a></th>
        <th><a href="/SignUp">Bli Medlem</a></th>
        <th><a href="/">Om Oss</a></th>
        <th><a href="/myPage">Mina Sidor</a></th>
        <th><a href="/login">Login</a></th>
        </thead>
    </table>
</header>

<form th:action="@{/SignUp}" method="post" th:object="${user}">
    <p th:if="${#fields.hasErrors('firstName')}">Förnamn är inte ifyllt</p>
    <label for="firstName">Förnamn</label>
    <input type="text" th:field="*{firstName}" th:errorclass="error" id="firstName"/>

    <p th:if="${#fields.hasErrors('lastName')}">Efternamn är inte ifyllt</p>
    <label for="lastName">Efternamn</label>
    <input type="text" th:field="*{lastName}"th:errorclass="error" id="lastName"/>

    <p th:if="${#fields.hasErrors('email')}">Inkorrekt email</p>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" th:errorclass="error" id="email"/>

    <p th:if="${#fields.hasErrors('userName')}">Användarnamnet ska vara mellan 4-12 bokstäver</p>
    <label for="userName">Användarnamn</label>
    <input type="text" th:field="*{userName}" th:errorclass="error" id="userName"/>

    <p th:if="${#fields.hasErrors('password')}">Lösenordet ska vara minst 6 tecken</p>
    <label for="password">Lösenord</label>
    <input type="password" th:field="*{password}" th:errorclass="error" id="password"/>


    <input type="submit" value="Spara"/>


</form>
</body>
</html>