<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Organisations</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="saveuserbody">
<header>
    <img class="logotyp" th:src="'images/HELPIFYy.png'" alt="FöretagsLogo">
    <div class="header1">
        <th><h1 class="headline">HelpIfy</h1></th>
        <div class="header-text">
            <thead>
            <th><a href="/helpify">Startsida   </a></th>
            <th><a href="/signup">Bli Medlem   </a></th>
            <th><a href="/organisations">Våra organisationer   </a></th>
            <th><a href="/donation">Donera   </a></th>
            <th><a href="/myPage">Mina sidor   </a></th>
            <th th:if="${#httpServletRequest.remoteUser == null}"><a href="/login">Logga in</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><a href="/logout">Logga ut</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><p th:text="${'Inloggad som: ' + #httpServletRequest.remoteUser}"></p></th>
            </thead>
        </div>
    </div>
</header>

<div class="text2">
<span>Bli medlem och kom igång med dina donationer idag. Enkelt, smidigt och säkert!</span>
</div>


<div class="formContainer">
    <form class="form" th:action="@{/signup}" method="post" th:object="${user}">
        <p class="error2" th:if="${#fields.hasErrors('firstName')}">Förnamn är inte ifyllt</p>
        <input class="input2" type="text" th:field="*{firstName}" th:errorclass="error" id="firstName" placeholder="Förnamn"/>

        <p class="error2" th:if="${#fields.hasErrors('lastName')}">Efternamn är inte ifyllt</p>
        <input class="input2" type="text" th:field="*{lastName}" th:errorclass="error" id="lastName" placeholder="Efternamn"/>

        <input class="input2" type="email" th:field="*{email}" th:errorclass="error" id="email" placeholder="Email"/>

        <p class="error2" th:if="${#fields.hasErrors('userName')}">Användarnamnet ska vara mellan 4-12 bokstäver</p>
        <input class="input2" type="text" th:field="*{userName}" th:errorclass="error" id="userName" placeholder="Användarnamn"/>

        <p class="error2" th:if="${#fields.hasErrors('password')}">Lösenordet ska vara minst 6 tecken</p>
        <input class="input2" type="password" th:field="*{password}" th:errorclass="error" id="password" placeholder="Lösenord"/>

        <input class="button2" type="submit" value="Skapa konto"/>
    </form>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Helpify </a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>