<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
  <!--  <form action="http://localhost:8080/organisations">
        <input type="submit" value="Till våra organisationer" /> </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logga ut"/>
    </form> -->
</head>
<body>
<header>
    <div class="header1">
        <div class="header-text">
            <thead>
            <th><a class="menu" href="/signup">Bli Medlem</a></th>
            <th><a class="menu" href="/organisations">Våra organisationer</a></th>
            <th><a class="menu" href="/donation">Donera</a></th>
            <thdiv class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="/myPage" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mina sidor</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/myPage">Mina sidor</a></li>
                    <li><a class="dropdown-item" href="/stats">Mina donationer</a></li>
                    <li><a class="dropdown-item" href="/Inställningar">Inställningar</a></li>
                </ul>
            </thdiv>
            <th th:if="${#httpServletRequest.remoteUser == null}"><a class="menu" href="/login">Logga in</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><a href="/logout">Logga ut</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><p th:text="${'Inloggad som: ' + #httpServletRequest.remoteUser}"></p></th>
            </thead>
        </div>
    </div>
</header>

<div class="content">

    <h1 th:text="'Välkommen ' + ${session.userName}"></h1>

    <form action="/signup"  method="post" th:object="${user}">
        Användarnamn: <input type="text" th:field="*{userName}"/>
        Förnamn: <input type="text" th:field="*{firstName}"/>
        Efternamn: <input type="text" th:field="*{lastName}"/>
        Email adress: <input type="text" th:field="*{email}"/>
        Password: <input type="Password" th:field="*{password}"/>
        <input type="submit" value="Spara">
    </form>
    <input th:if="${id != null}" type="hidden" th:field="*{id}"/>

        <form action="@{/organisation}" method="post">
            <input type="submit" value="Till organisationerna" />
        </form>

</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Helpify </a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>