<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Organisations</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <img class="logotyp" th:src="'images/HELPIFYy.png'" alt="FöretagsLogo">
    <div class="header1">
        <th><h1 class="headline">HelpIfy</h1></th>
        <div class="header-text">
            <thead>
            <th><a href="/helpify">Startsida </a></th>
            <th><a href="/signup">Bli Medlem </a></th>
            <th><a href="/organisations">Våra organisationer </a></th>
            <th><a href="/donation">Donera </a></th>
            <th><a href="/myPage">Mina sidor </a></th>
            <th th:if="${#httpServletRequest.remoteUser == null}"><a href="/login">Logga in</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><a href="/logout">Logga ut</a></th>
            <th th:if="${#httpServletRequest.remoteUser}"><p
                    th:text="${'Inloggad som: ' + #httpServletRequest.remoteUser}"></p></th>
            </thead>
        </div>
    </div>
</header>

<article>
    <div class="presentation container">
        <div class="row">
            <div class="col-sm">

                <div class="toptext">
                    <p class="text3"> Det finns många sätt du som privatperson kan bidra till att göra världen till en
                        bättre plats. Skänk valfri summa till någon av alla våra organisationer så är du med och bidrar
                        till en ljusare framtid.
                        Vi arbetar för att underlätta detta för dig, oavsett om du är en van donerare eller om det är
                        första gången!</p>
                </div>
                <div class="bottomtext">
                    <span class="text31">Du kanske redan är månadsgivare men letar efter fler organisationer att stötta? Eller kanske du vill donera pengar men inte hittat rätt organisation? Hos oss kan du på ett enkelt sätt samla dina donationer på ett och samma ställe.</span>
                    <span class="text32"> Vi stöttar organisationer inom läkemedelsforskning, djur, natur och människorätt.
                Du väljer själv hur mycket och hur ofta du vill donera. Har du inte tid att bli medlem just nu? Använd vår snabbdonation längst ner på sidan. Inget medlemskap krävs!</span>
                </div>
                <p class="text33"> För att läsa mer om våra organisationer, klicka <a class="link3"
                                                                                      href="/organisations">här</a></p>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="bidrar container">
        <div class="row justify-content-around">
            <div class="col"><img class="bidrar" style="width:100%" th:src="'images/VI BIDRAR.png'" alt="ViInformerar">
            </div>
            <div class="col"><img class="bidrar" style="width:100% height:100%" th:src="'images/VI BIDRAR1.png'"
                                  alt="ViEngagerar">
            </div>
            <div class="col"><img class="bidrar" style="width:100%" th:src="'images/VI BIDRAR2.png'" alt="ViBidrar">
            </div>

        </div>

    </div>
    <br>
    <br>
    <div class="sumPres container">
        <div class="row">
            <div class="col-sm">
                <h1> Tillsammans har vi skänkt: </h1>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="totalSum container">
        <span class="donation" th:text="${totalSum} + ' kr'"></span>
        <br></div>
    </br>
    </br>
    <div class="dropdown1 container">
        <div class="row">
            <div class="col-sm">
                <br>
                <div><h1>Vill du också vara med och bidra? </h1>
                    <h2> Vi vet att tiden inte alltid finns. Du kanske inte har tid att skapa ett konto just idag. Genom
                        vår snabbdonation kan du snabbt ge en gåva utan att ha ett medlemskap. Klicka på knappen nedan
                        för att ge ett bidrag till någon av våra tre mest behövande organisationer just nu.
                    </h2></div>
                <button class="dropbtn button3 rounded-1" onclick="quick()">Donera nu!</button>
                </br></br>
                <div class="dropdown-content">
                    <div class="row options hide">
                        <div class="giftBox column">
                            <form action="/helpify" method="POST">
                                <input type="hidden" name="organisation" value="WWF">
                                <h3>WWF</h3>
                                <input type="submit" name="Kr" Value="100"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                                <input type="submit" name="Kr" Value="250"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                                <input type="submit" name="Kr" Value="500"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                            </form>
                            </br>
                        </div>
                        <div class="giftBox column">
                            <form action="/helpify" method="POST">
                                <input type="hidden" name="organisation" value="NATURSKYDDSFÖRENINGEN">
                                <h3>NATURSKYDDSFÖRENINGEN</h3>
                                <input type="submit" name="Kr" Value="100"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                                <input type="submit" name="Kr" Value="250"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                                <input type="submit" name="Kr" Value="500"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                            </form>
                            </br>
                        </div>
                        <div class="giftBox column">
                            <form action="/helpify" method="POST">
                                <input type="hidden" name="organisation" value="RESCUE">
                                <h3>RESCUE</h3>
                                <input type="submit" name="Kr" Value="100"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                                <input type="submit" name="Kr" Value="250"
                                       style="background-color:white; border:solid 2px;border-color:#004369;"/>
                                <input type="submit" name="Kr" Value="500"
                                       style="background-color:white; border:solid 2px; border-color:#004369;"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Helpify </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/images/script.js"></script>
</body>

</html>