<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="jumbotron">
    <div class="container text-center">
        <img onclick="location.href='/';" src="/images/logo.png" height="300">
    </div>
</div>

<header>
    <table>
        <thead>

        <th><a href="/organisations">Organisationerna</a></th>
        <th><a href="/donation">Donera nu!</a></th>
        <th><a href="/SignUp">Bli Medlem</a></th>
        <th><a href="/">Om Oss</a></th>
        <th><a href="/myPage">Mina Sidor</a></th>
        <th><a href="/login">Login</a></th>
        </thead>
    </table>
</header>

<!--<p th:if="${httpServletRequest.remoteUser != null}">-->
<p th:text="${'Inloggad som: ' + #httpServletRequest.remoteUser}"></p>
<!--</p>-->

<article>
    <h1>Välkommen till HelpIfy</h1>
    <p> Det finns många sätt du som privatperson kan bidra till världen. Det kan vara att du engagerar dig som
        volontär, blir månadsgivare, ger en engångssumma eller skriver in en organisation i ditt testamente. Vi är här för att hjälpa dig som
        kanske ännu inte har börjat donera pengar och letar efter en smidig lösning för detta. Eller kanske du redan är månadsgivare idag men vill
        samla dina donationer på ett och samma ställe?
    </p>
    <br>
    <br>
    <h7> Tillsammans har vi skänkt totalt:</h7>
    <span class="donation" th:text="${totalSum}"></span>
    <br>

    <div class="dropdown">

        <div class="dropdown-content" action="/" method="POST">
        <br>
        <button class="dropbtn" onclick="quick()">Ge en gåva</button>
        <div class="dropdown-content">
            <div class="row options hide">
       ,         <div class="column">
                    <form action="/" method="POST">
                        <input type="hidden" name="Organisation" value="WWF">
                    <h3>WWF</h3>
                    <input type="submit" name="Kr" Value="100"/>
                    <input type="submit" name="Kr" Value="250"/>
                    <input type="submit" name="Kr" Value="500"/>
                    </form>
                </div>
                <div class="column">
                    <form action="/" method="POST">
                        <input type="hidden" name="organisation" value="NATURSKYDDSFÖRENINGEN">
                        <h3>NATURSKYDDSFÖRENINGEN</h3>
                        <input type="submit" name="Kr" Value="100"/>
                        <input type="submit" name="Kr" Value="250"/>
                        <input type="submit" name="Kr" Value="500"/>
                    </form>
                </div>
                <div class="column">
                    <form action="/" method="POST">
                        <input type="hidden" name="organisation" value="RESCUE">
                        <h3>RESCUE</h3>
                        <input type="submit" name="Kr" Value="100"/>
                        <input type="submit" name="Kr" Value="250"/>
                        <input type="submit" name="Kr" Value="500"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</article>

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">Helpify </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/images/script.js"></script>
</body>

</html>